.container-playhead-active{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container-playhead-passive{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}

#playhead-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}