#container-playhead-active{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
}

#container-playhead-passive{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
    height: 50px;

}

#playhead-footer{
    bottom: 0;
    width: 100% !important;
    display: flex;
    position: fixed;
}

.audioplayer{
    width: inherit;
}

audio::-webkit-media-controls-play-button{
    
}

