// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.track-index{
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 600px;
    width: 1238px;
    border: solid 1px black;
    // position: absolute;
    margin-left: 15px;
}

.track-photos{
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
}


