// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.track-index{
    display: flex;
    margin-top: 500px;
    justify-content: space-evenly;
}

.track-photos{
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
}

